<div class="page-width">
	<h2 class="text-center">Shop by brand</h2>

	    <ul class="list-unstyled list-inline">
	      {% for link in linklists.featured-brands.links %}
	        <li>
	          <a href="{{ link.object.url }}">
	          	<img src="{{ link.object.image | img_url: 'small' }}" alt="{{ link.title | escape }}">
          	</a>
	        </li>
	      {% endfor %}
	    </ul>
</div>

{% schema %}
{
  "name": "Brand List"
}
{% endschema %}